[alias]
	a = add
	b = branch
	c = commit --verbose
	ca = commit --verbose --amend
	cd = checkout develop
	cm = checkout master
	co = checkout
	cp = cherry-pick
	cpa = cherry-pick --abort
	cpc = cherry-pick --continue
	current-branch = rev-parse --abbrev-ref HEAD
	d = diff
	dc = diff --cached
	dw = diff --word-diff
	fa = fetch --all --prune
	g = grep --fixed-strings --ignore-case --untracked --break --heading --line-number
	gp = !git push origin $(git current-branch)
	gu = !git pull --rebase origin $(git current-branch)
	lo = log --pretty='%C(yellow)%h%Creset -%Cred%d%Creset %s %Cgreen(%cr) %Cblue<%an>%Creset'
	m = merge
	mt = mergetool
	rb = rebase
	rba = rebase --abort
	rbc = rebase --continue
	rbi = rebase --interactive
	rbm = rebase master
	rbs = rebase --skip
	rhh = reset HEAD --hard
	st = status
	sta = stash save
	stp = stash pop
	undo = reset HEAD~1
	wipe = clean --force -dx
[core]
	editor = vim
	pager = less -+FX
[merge]
	tool = vimdiff
[mergetool]
	keepBackup = false
