[alias]
	a = add
	b = branch
	c = commit --verbose
	ca = commit --verbose --amend
	cb = checkout -b
	cd = checkout develop
	cm = checkout master
	co = checkout
	cp = cherry-pick
	cpa = cherry-pick --abort
	cpc = cherry-pick --continue
	current-branch = rev-parse --abbrev-ref HEAD
	d = diff
	dc = diff --cached
	dw = diff --word-diff
	fa = fetch --all --prune
	g = grep --fixed-strings --ignore-case --untracked --break --heading --line-number
	gp = !git push origin $(git current-branch)
	gu = !git pull --rebase origin $(git current-branch)
	lo = log --pretty='%C(yellow)%h%C(reset) ·%C(red)%d%C(reset) %s %C(green)(%cr) %C(blue)<%an>%C(reset)'
	m = merge
	mt = mergetool
	rb = rebase
	rba = rebase --abort
	rbc = rebase --continue
	rbi = rebase --interactive
	rbm = rebase master
	rbs = rebase --skip
	rh = reset HEAD
	rhh = reset HEAD --hard
	st = status
	sta = stash save
	stp = stash pop
	undo = reset HEAD~1
	wipe = clean --interactive --force -dx
[color "diff"]
	meta = cyan
[color "grep"]
	filename = cyan
	linenumber = yellow
	separator = yellow
[core]
	editor = vim
	pager = less -+FX
[diff]
	colorMoved = default
[fetch]
	prune = true
[init]
	defaultBranch = master
[merge]
	tool = vimdiff
[mergetool]
	keepBackup = false
[pull]
	rebase = true
